<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kykara4a.metod">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher_bad"
        android:roundIcon="@mipmap/ic_launcher_bad_round"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:name=".MyApp"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"></activity>
        <activity
            android:name=".NewProfileActivity"
            android:theme="@style/myDialog" />
        <activity
            android:name=".ProfilesActivity"
            android:theme="@style/myDialog" />
        <activity android:name=".GraphActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>